body {
  background-color: #D0D3D4;

}

#calc-container {
  position: relative;
  width: 50%;
  border: 0px;

}

input[type=text] {
  position: relative;
  display: block;
  width: 90%;
  margin: 1px auto;
  font-size: 20px;
  height: 37px;
  background-color: grey;
  border-radius: 200px;
}

input[type=button] {
  background-color: grey;
  color: blackS;
  width: 22%;
  height: 20%;
  font-size: 20px;
  font-weight: 550;
  margin: 1%;
  border-radius: 30px;
  box-shadow: 2px 2px 2px dimgray;
}

input[type=button]:hover {
  background-color: #262626;
  color: white;
}

